.edit-content {
    line-height: 75px;
    font-size: 20px;
    border: none;
    width: 100%;
    color: #FCE6CE;
    background-color: #A99786
}

.edit-title {
    line-height: 75px;
    font-size: 30px;
    border: none;
    color: #FCE6CE;
    width: 100%;
    background-color: #A99786
}

.post-object {
    border: black 1px solid;
    padding: 5px;
    margin: 25px;
    background-color: #A99786;
    color: #FCE6CE;
    border-radius: 25px;
    box-shadow: 10px 10px 8px #252b3c;
}

form {
    color: #FCE6CE;
}

.post {
    border: black 1px solid;
    margin: 15px 15px 15px 10px;
    width: 65%;
    background-color: #A99786;
    padding: 1em 1em 0 1em;
    border-radius: 25px;
    box-shadow: 10px 10px 8px #252b3c;
}

#nav {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 50px;
    background-color: #8b7352;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

.a-tags {
    color: #FCE6CE;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.a-tags:hover {
    border: solid #FCE6CE 2px;
    color: #FCE6CE;
    border-radius: 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#create-post-content {
    line-height: 4em;
}

body {
    background-color: #3A3F60;
    font-family: 'Cinzel', serif;
    font-size: 16px;
    color: #FCE6CE;
    background-image: linear-gradient(
            to top left,
            #3A3F60, #2a2e45
    );
    background-attachment: fixed;
}

.post-container {
    width: 70%
}

.create-input {
    width: 70%;
    border-radius: 10px;
    border: solid #8B7352 1px;
    background-color: #A99786;
}

.categories {
    color: #526A8B;
}

.buttons {
    background-color: #8B7352;
    margin: 1em 0 1em 0;
    border-radius: 10px;
    COLOR: #FCE6CE;
}

.buttons:hover {
    border: 3px outset #252b3c;
    border-radius: 10px;
}

h1 {
    margin-left: 1em;
}