.edit-content {
    line-height: 75px;
    font-size: 20px;
    border: none;
    width: 100%;
}

.edit-title {
    line-height: 75px;
    font-size: 30px;
    border: none;
}

.post-object {
    border: black 1px solid;
    padding: 5px;
    margin: 10px;
    background-color: white;
}
.post {
    border: black 1px solid;
    margin: 15px 15px 15px 10px;
    width: 68%;
    background-color: white;
    padding: 1em;
}

#nav {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 50px;
    background-color: #666;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.a-tags{
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.a-tags:hover {
    background-color: #111;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#create-post-content {
    line-height: 4em;
}

body {
    background-color: #fafafa;
}

.post-container {
    width: 70%
}

.create-input {
    width: 70%;
}

.categories{
    color: darkblue;
}